auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
.lsp-session-v1
.cache/
.lsp-session-v1
copilot.el/
custom.el
eshell/
places
quelpa/
workspace/
/url/
/var/
/.sx/
/ensime/
/history
/ido.last
/recentf
/projectile-bookmarks.eld
/projectile.cache
/transient/history.el
/transient/values.el
/forge-database.sqlite
/smex-items
